body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
 
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
p, main{
  text-align: left;
}
.container{
  border: inset 4px rgb(14, 98, 207);
  background-color: aquamarine;
}
